@media (max-width: 481px) {
  .logo {
    font-size: 1.22rem;
    align-items: center;
  }
}

@media (max-width: 412px) {
  .logo {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .logo {
    font-size: 0.9rem;
  }
}

@media (max-width: 334px) {
  .logo {
    font-size: 0.75rem;
  }
}

@media (max-width: 297px) {
  .logo {
    font-size: 0.7rem;
  }
}