@import "tailwindcss";

@theme {
  --color-background: #2A004E;
  --color-surface: #500073;
  --color-primary: #C62300;
  --color-accent: #F14A00;
  --color-text-main: #F5F5F5;
  --color-text-secondary: #A9A9A9;
}