.proj-grid {
  max-width: 975px;
  margin: 40px auto;
}

.proj-grid .card-img-top {
  width: 100%; 
  position: relative; /* To position the image absolutely within the container */
}

.proj-grid .card-img-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.proj-grid .card {
  background-color: #222; /* Dark background */
  border: 1px solid #777;
}

.proj-grid .card-body {
  height: 80px;
  align-content: center;
  border-bottom: 1px solid #777;
}

.proj-grid .card-footer {
  height: 80px; 
  align-content: space-around;
  align-items: center;
}
.proj-grid .card-footer span {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.proj-grid .card a{
  color: #c739ff;
  text-decoration-color: #c739ff;
}

.proj-grid .card-title {
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .proj-grid .card-footer {
    height: 100px;
  }
}

@media (max-width: 512px) {
  .proj-grid .card-title {
    font-size: 0.7em;
  }
  .proj-grid .card-footer {
    height: 125px;
  }
  .proj-grid .card-footer span {
    font-size: 0.65em !important;
  }
}

@media (max-width: 400px) {
  .proj-grid .card-title {
    font-size: 0.57em;
  }
}